#fill-tab-example-tab-Formulario {
    color:white;
    text-decoration: none;
  }

  #fill-tab-example-tab-Tabela{
    color:white;
    text-decoration: none;
  }
  
  #fill-tab-example-tab-Relatorio{
    color:white;
    text-decoration: none;
  }

  #fill-tab-example-tab-Tabela{
    border-left: 5px;
  }
